@using StudentsApp.Models
@model IEnumerable<StudentsApp.Models.Student>

@{
    ViewBag.Title = "Students";
    var students = (List<Student>)ViewData["MyData"];
}


<br />
<br />
<br />
<table border="1" class="table table-bordered table-responsive" style="width:330px">
    <thead>

        <tr class="btn-primary">
            <th>Id</th>
            <th>Name</th>


        </tr>


    </thead>
    <tbody>
        @foreach (var item in @students)
        {
            <tr>
                <td>@item.StudentId</td>

                <td>@item.Name</td>





            </tr>
        }
    </tbody>
</table>
